body {
    padding: 0;
    margin: 0;
    font-family: 'Kanit', sans-serif;
}
.header .bg{
    height: 34px;
    background-color: peachpuff;
    width: 100%;
}
.menubar {
    width: 100%;
    height: 50px;
    background: aquamarine;
    box-shadow: 0 0 10px black;
}

.menubar h1{
    margin: 1px;
    padding: 0px;
}


.menubar ul{
    font-size: medium;
    list-style: none;
    width: 1065px;
    height: 30px;
    float: left;
    background: peachpuff;
    margin: 1px 10px;
    padding-top: 4px;
}
.menubar ul li{
    float: left;
    margin-right: 10px;
}

.menubar ul li a{
    text-decoration: none;
    color: black;
    border-bottom: 2px solid transparent;
    padding-bottom: 5px;
    transition: all 0.3s ease;
}

.menubar ul li a:hover{
    border-bottom: 2px solid rosybrown;
    border-width: 5px;
    padding-bottom: 1.2px;
    border-radius: 9px;
}

.header {
    background: url(bg.jpg) no-repeat;
    width: 100%;
    height: 450px;
}
.container {
    max-width: 960px;
    margin: 0px 10px;
}

.header_area h1{
    margin: 1px;
}

.header_area{
    text-align: center;
}

